{% extends "base.html" %}

{% block title %}Timeline{% endblock %}


{% block content %}
<section class = "page-content" id = "Timeline-page">

    <h1 class = "Timeline-heading">Timeline</h1>

    <p class = "Timeline-header-desc">A Timeline of Important Moments in my Life</p>

    <section id = "timeline-board">

    </section>

    <section>
        <form id="form" class = "timeline-form" hidden>
            <h2>Add New Timeline Entry</h2>

            <section class = "form-grid">

                <section class = "form-field">
                    <label for="name">Name *</label>
                    <input name="name"type="text">
                </section>

                <section class = "form-field">
                    <label for="email">Email *</label>
                    <input name="email"type="text">
                </section>

                <section class = "form-field form-field-full">
                    <label for="content">Content *</label>
                    <input name="content"type="text">
                </section>
            </section>

            <button id = "form-submit" type="submit">Submit</button>
        </form> 
    </section>

</section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/timeline.js') }}"></script>
{% endblock %}
